# system
.DS_Store

# environment
.env
.env.*
!.env.example

# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# positron articles
src/06-positron-rag/output/*
!src/06-positron-rag/output/.gitkeep
src/06-positron-rag/**/*.zip

# tone-voice experiment output
src/10-tone-voice/output/*
!src/10-tone-voice/output/.gitkeep
src/10-tone-voice/**/*.zip

# brushy cli
src/11-brushy-cli/**/*.txt

# fine-tuning mediums
src/12-fine-tuning/data/training/*
!src/12-fine-tuning/data/training/.gitkeep
src/14-curated-discovery/data/**/*.json

# art-quiz json
src/16-art-quiz/data/*
