# system
.DS_Store

# environment
.env
.env.*
!.env.example

# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# positron articles
src/06-positron-rag/output
src/06-positron-rag/**/*.zip
